* {
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Zefani Stencil';
    src: url('fonts/ZefaniStencil(uppercase)-Regular.otf');
}

@font-face {
    font-family: 'Glacial';
    src: url('fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'GlacialBold';
    src: url('fonts/GlacialIndifference-Bold.otf');
}

body {
    background-color: #ffffff;
    background-image: url("images/dl.svg"); 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 110% 0%;
    height: 100%;
}

#navbar {
    text-decoration: none;
    padding: 23px;
    display: inline block;
    color: #fff;
    background-color: #353636;
    position: fixed;
    z-index: 15;
    width: 100%;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
    font-size: 22px;
    font-family: 'Glacial';
}

.nav {
    text-decoration: none;
    display: inline;
    color: #fff;
    padding: 8px;
    margin: 0px;
    font-size: 18px;
    transition: .5s ease;
}

.nav:hover {
    text-decoration: none;
    color: #999;
    border: 0px solid;
    border-radius: 4px;
    transition: .25s ease;
}

.nav:active {
    text-decoration: none;
    color: #fff;
    border: 0px solid;
    border-radius: 4px;
    transition: .5s ease;
}

a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #999;
}


#pixx {
    width: 100%;
    height: 275px;
    text-align: center;
    color: #353636;
    padding-bottom: 400px;
}

#textstuff {
    padding: 200px;
    font-family: "Zefani Stencil";
    font-variant: caps;
    color: #353636;
}

#summary {
   font-family: 'Glacial';
   color: #353636;
   background-color: #fff;
   text-align: center;
   font-size: 32px;
   box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4);
}

#eventtable {
    border-spacing: 25px;
    width: 100%;
    height: 1000px;
}

td {
    background-image: url(images/download.png);
    background-attachment: fixed;
    padding: 10px;
    width: 30%;
    height: 33%;
    color: #fff;
    text-align: center;
    transition: .25s ease;
}

td:hover {
    filter: opacity(0.5);
    color: #222;
}

.tooltip {
    position: relative;
    display: inline-block;
    transition: 0.25s ease;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    font-size: 16px;
    z-index: 1;
    opacity: 0;
    transition: 0.25s ease;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #222 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#footer {
    color: #fff;
    background-color: #353636;
    padding: 40px;
    text-align: center;
    font-size: 26px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
}

#footul {
    display: block;
    padding: 30px;
    font-family: 'Glacial';
    font-size: 40px;
    width: 50%;
    display: inline;
}

.foot {
    display: inline;
    text-decoration: none;
    color: #fff;
    margin: 0px;
    transition: .5s ease;
    padding: 5px;
    margin: 5px;
}

svg {
    fill: #fff;
}
