* {
    margin: auto;
}

body{
    background-color: #eeeeee;
    background-image: url("images/download.png"); 
    background-attachment: fixed;
    background-position: 0% 0%;
}

#navbar {
    padding: 30px;
    display: inline block;
    color: #222;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0);
}

.nav {
    display: inline ;
    color: #222;
    padding: 5px;
    font-size: 18px;
}

#pixx{
    width: 100%;
    height: 300px;
    text-align: center;
    color: #222;
    padding-bottom: 400px;
}

#textstuff {
    padding: 200px;
    font-family: "Zefani Stencil";
    font-variant: caps;
    color: #222;
}

#events {
    color: #fff;
    text-align: center;
    font-size: 40px;
    background-color: #111112;
    text-align: center;
    padding: 50px 0px 0px 0px ;
}

#event1, #event2, #event3, #event4, #event5, #event6 {
    width: 98%; 
    margin: 60px 20px 20px 0px;
    height: 400px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    background-position: 100% 100%;
    background-attachment: fixed;
    font-size: 32px;
}

#event1 {
    background-image: url(images/oddish.png);
    font-family: "serif";
}

#event2 {
    background-image: url(images/gloom.png);
}
