* {
    margin: auto;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #eeeeee;
    background-image: url("images/download.png"); 
    background-attachment: fixed;
    background-position: 0% 0%;
    height: 100%;
}

#navbar {
    padding: 30px;
    display: inline block;
    color: #222;
    font-size: 22px;
    font-family: 'Glacial Indifference';
    background-color: rgba(0, 0, 0, 0);
}

.nav {
    display: inline ;
    text-decoration: none;
    color: #222;
    padding: 8px;
    margin: 0px;
    font-size: 18px;
    transition: .5s ease;
}

.nav:hover {
    color: #222;
    background-color: rgba(16, 16, 16, 0.2);
    border: 0px solid;
    border-radius: 4px;
    transition: .5s ease;
}

.nav:active {
    color: #222;
    background-color: rgba(5, 5, 5, 1);
    border: 0px solid;
    border-radius: 4px;
    transition: .5s ease;
}

a:link, a:visited {
    text-decoration: none;
    color: #222;
}


#pixx{
    width: 100%;
    height: 300px;
    text-align: center;
    color: #222;
    padding-bottom: 400px;
}

#textstuff {
    padding: 200px;
    font-family: "Zefani Stencil";
    font-variant: caps;
    color: #222;
}

#summary {
   font-family: 'Glacial Indifference';
   color: #222;
   background-color: #fff;
   text-align: center;
   font-size: 32px;
}

#footer {
    color: #fff;
    background-color: #222;
    padding: 40px;
    text-align: center;
    font-size: 26px;
    font-family: 'Zefani Stencil';
}
