:root {
    --main-color: #353636;
    --main-muted: #999999;
    --green: #4CAF50;
    --orange: #FFC107;
    --red: #bf4752;
    --cyan: #88c0d0;
    --blue: #2196F3;
    --magenta: #b48ead;
    --violet: #9C27B0;
    --yellow: #FFEB3B;
    --foreground-light: #aaaaaa;
    --white: #ffffff;
    --black: #222;
}

* {
    margin: auto; }

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Zefani Stencil';
    src: url('../fonts/ZefaniStencil(uppercase)-Regular.otf');
}

@font-face {
    font-family: 'Glacial';
    src: url('../fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'GlacialBold';
    src: url('../fonts/GlacialIndifference-Bold.otf');
}

#navbar {
    text-decoration: none;
    padding: 23px;
    background-color: var(--violet);
	text-align: right;
    display: inline-block;
    color: var(--main-color);
    z-index: 15;
    width: 100%;
    font-size: 22px;
    font-family: 'Glacial';
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
}

.nav {
    display: inline-block;
    color: var(--white);
    padding: 0px 10px 10px 10px;
    margin: 0px;
    font-size: 18px;
    transition: .5s ease;
}

.nav:hover {
    text-decoration: none;
    color: var(--black);
    border: 0px solid;
    border-radius: 4px;
    transition: .25s ease;
}

.nav:active {
    color: var(--yellow);
}


a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    transition: 0.25s ease;
}

a:hover {
    text-decoration: none;
    color: var(--black);
}

.tooltip {
    position: relative;
    display: inline-block;
    transition: 0.25s ease;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    font-size: 16px;
    z-index: 1;
    opacity: 0;
    transition: 0.25s ease;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#pixx {
    width: 100%;
    text-align: center center;
    padding-top: 60px;
    padding-bottom: 400px;
    height: 275px;
    background-size: cover;
    background-position: 110% 0%;
    background-repeat: no-repeat;
}

#title {
    font-size: 48px;
    color: var(--main-color);
    text-align: center;
    font-family: 'Zefani Stencil';
    padding: 0px 0px 150px 0px;
}

#down {
    text-align: center;
    position: absolute;
	padding-top: 50px;
    right: 50%;
        bottom: 4%;

}

#summary {
    font-size: 22px;
    font-family: 'Glacial';
    color: var(--main-color);
    padding: 40px 200px 40px 200px; 
    text-align: center;
	background-image: url("../images/purplopolyblur.jpg");
	background-attachment: fixed;
	background-size: 1920px 1080px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
}

#details {
    font-size: 22px;
    color: var(--main-color);
    text-align: left;
    padding: 40px 20px 40px 20px; 
}

#footer {
    color: var(--white);
    width: 100%;
    position: relative;
    background-color: var(--violet);
    padding: 23px;
    text-align: center;
    font-size: 26px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
}

#footul {
    display: block;
    padding: 30px;
    font-family: 'Glacial';
    font-size: 40px;
    width: 50%;
    display: inline;
}

.foot {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    margin: 0px;
    transition: .5s ease;
    padding: 5px;
    margin: 5px;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
}

.dropbtn {
    background-color: transparent;
    font-family: 'Glacial';
    color: var(--main-color);
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--white);
    min-width: 200px;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--main-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--violet);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}


