:root {
    --main-color: #353636;
    --main-muted: #999999;
    --green: #87be57;
    --orange: #ebcb8b;
    --red: #bf4752;
    --cyan: #88c0d0;
    --blue: #81A1C1;
    --magenta: #b48ead;
    --violet: #734473;
    --yellow: #ebb342;
    --foreground-light: #aaaaaa;
    --white: #ffffff;
}

* {
    margin: auto; }

::-webkit-scrollbar {
    display: none;
}

body {
   background-color: #ffffff;
  
}

#textstuff {
    padding: 200px;
    font-family: "Zefani Stencil";
    font-variant: caps;
    color: #353636;
}


@font-face {
    font-family: 'Zefani Stencil';
    src: url('fonts/ZefaniStencil(uppercase)-Regular.otf');
}

@font-face {
    font-family: 'Glacial';
    src: url('fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'GlacialBold';
    src: url('fonts/GlacialIndifference-Bold.otf');
}

#navbar {
    text-decoration: none;
    padding: 23px;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    color: var(--main-color);
    z-index: 15;
    width: 100%;
    font-size: 22px;
    font-family: 'Glacial';
}

.nav {
    display: inline-block;
    color: var(--white);
    padding: 0px 10px 0px 10px;
    margin: 0px;
    font-size: 18px;
    transition: .5s ease;
}

.nav:hover {
    text-decoration: none;
    color: var(--main-muted);
    border: 0px solid;
    border-radius: 4px;
    transition: .25s ease;
}

.nav:active {
    color: var(--yellow);
}


a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    transition: 0.25s ease;
}

a:hover {
    text-decoration: none;
    color: var(--main-muted);
}

.tooltip {
    position: relative;
    display: inline-block;
    transition: 0.25s ease;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: var(--main-color);
    color: var(--white);
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    font-size: 16px;
    z-index: 1;
    opacity: 0;
    transition: 0.25s ease;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--main-muted) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#entitle {
    width: 100%;
    height: 275px;
    text-align: center;
    color: var(--main-color);
    padding-bottom: 400px;
	background-image: url("images/dl.svg"); 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 110% 0%;
}
#title {
    font-size: 48px;
    color: #222;
    text-align: center;
    font-family: 'Zefani Stencil';
    padding: 25px 0px 25px 0px;
}

#summary {
    font-size: 22px;
    font-family: 'Glacial';
    color: #222;
    padding: 40px 200px 40px 200px; 
    text-align: center;
}

#details {
    font-size: 22px;
    color:#222;
    text-align: left;
    padding: 40px 200px 40px 200px; 
}

#footer {
    color: #fff;
    background-color: var(--main-color);
    padding: 40px;
    text-align: center;
    font-size: 26px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
}

#footul {
    display: block;
    padding: 30px;
    font-family: 'Glacial';
    font-size: 40px;
    width: 50%;
    display: inline;
}

.foot {
    display: inline;
    text-decoration: none;
    color: #fff;
    margin: 0px;
    transition: .5s ease;
    padding: 5px;
    margin: 5px;
}

